{% extends 'layouts/master.html' %}
{% load static %}

{% block title %}
Address PMS | Create Property Type
{% endblock title %}



{% block content %}
<div class="card mb-3">
    <div class="card-header">
        <div class="row flex-between-end">
            <div class="col-auto align-self-center">
                <h5 class="mb-0" data-anchor="data-anchor">{{property_type.type}}, Sub Type</h5>
            </div>
        </div>
    </div>
    <div class="card-body bg-light">
        <div class="tab-content">
            
            <form class="row g-3 needs-validation" method="POST">
                {% csrf_token %}
                <div>
                    <div class="col-md-6">
                        <label class="form-label" for="p_type_title">Property Type</label>
                        <input type="text" class="form-control" id="p_type_title" value="{{property_type.type}}" disabled >
                    </div>
                </div>
                
                <h5>Sub Type:</h5>
                {% for s_p_type in property_type.propertytype.all %}
                    <div class="row">
                        <div class="col-md-4 col-sm-4 mt-2">
                            <input type="text" class="form-control" id="sub_type-{{s_p_type.id}}" name="sub_type-{{s_p_type.id}}" value="{{s_p_type.sub_type}}" required>
                        </div>
                    
                        <div class="col-md-6 col-sm-4 mt-2">
                            <a class="btn btn-danger btn-sm remove-subtype" href="#" data-subtype-id="{{s_p_type.id}}">remove</a>
                        </div>
                    </div>
                {% endfor %}

                <div class="col-md-12 mt-3">
                    <button class="btn btn-primary mb-5" type="submit" style="padding-left: 50px; padding-right: 50px;">Update</button>
                </div>
            </form>




            <!-- Add Mor sub type -->
            <form action="">
                <input type="hidden" id="p_type_id" value="{{property_type.id}}">
                <div class="col-md-6">
                    <h5><strong class="fw-bold">{{property_type.type}}</strong> Sub Type
                        <button class="btn btn-sm ml-5" id="add_sup_type" style="background: rgb(218, 45, 218); color: white;">Add More</button>
                    </h5>
                    
                    <!-- Here show the sub type input field -->
                    <div id="show_item">

                    </div>
                </div>

                <div class="col-md-12 mt-5">
                    <button class="btn btn-success" type="submit" id="submit_button" style="padding-left: 50px; padding-right: 50px;">Save</button>
                </div>
            </form>
            

        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>


<script>
$(document).ready(function() {
    let counter = 0;

    $("#add_sup_type").click(function(e) {
        e.preventDefault();

        counter++;

        const sub_type_field = `
        <div class="show_item">
            <div class="row">
                <div class="col-md-8">
                    <label class="form-label" for="p_sub_type_title">Property Sub Type</label>
                    <div class="input-group">
                        <input type="text" class="form-control mx-2" id="p_sub_type_title" name="p_sub_type_title[]" placeholder="Enter property type" required>
                        <button class="btn btn-danger btn-sm ms-2 remove_btn" data-counter="${counter}">
                            Remove
                        </button>
                    </div>
                </div>
            </div>
        </div>
        `;

        $("#show_item").prepend(sub_type_field);
    });

    // Remove the sub type field
    $("#show_item").on("click", ".remove_btn", function() {
        $(this).closest(".show_item").remove();
    });

    

    // After Form submition data is pass view class by Ajax request
    $("#submit_button").click(function(e) {
        e.preventDefault();

        const Property_Type_id = {
            "property_type_id": $("#p_type_id").val(),
        };

        const Property_Sub_Type_Data = [];
        $("input[name='p_sub_type_title[]']").each(function(index) {
            const sub_type = $(this).val();

            Property_Sub_Type_Data.push({
                "sub_type_data": sub_type,
            });
        });




        const formData = {
            "Type_id": Property_Type_id,
            "Sub_Type_Data": Property_Sub_Type_Data
        };

        console.log(formData);

        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;


        // Send data to the Django view using AJAX
        $.ajax({
            type: "POST",
            url: "{% url 'property:property-subtype-create' %}",
            data: JSON.stringify(formData),
            headers: {
                'Content-Type': 'application/json', 
                'X-CSRFToken': csrfToken
            },

            success: function(response) {
                // console.log("Success:", response);
                alert('Propety Type save successfully.');
                location.reload();
            },


            error: function(error) {
                // console.error("Error:", error);
                alert("Error is occard. Please try again !");
            }
        });
        
    });
});






// Remove Sub-Type 
$(document).ready(function() {
    $(".remove-subtype").click(function(event) {
        event.preventDefault();
        
        var subTypeId = $(this).data("subtype-id");
        var removeButton = $(this);

        var csrfToken = $("input[name=csrfmiddlewaretoken]").val();

        $.ajax({
            type : "POST",
            url  : "{% url 'property:property-subtype-delete' %}",
            data :  { subTypeId: subTypeId },

            headers: {
                "X-CSRFToken": csrfToken 
            },

            success: function(data) {
                if (data.success) {
                    // Delete the corresponding HTML element
                    // removeButton.closest(".row").remove();
                    alert("Successfully delete.");
                    location.reload();
                } else {
                    // Handle failure
                    alert("Failed to delete the item.");
                }
            },
            error: function() {
                // Handle AJAX error
                alert("An error occurred while processing your request.");
            }
        });
    });
});


</script>


{% endblock content %}