{% extends 'layouts/master.html' %}


{% block title %}
Address PMS | change password
{% endblock title %}



{% block content %}

<div class="card mb-3 col-md-6">
  <div class="card-header">
    <div class="row flex-between-end">
      <div class="col-auto align-self-center">
        <h5 class="mb-0" data-anchor="data-anchor">Change Password</h5>
      </div>
    </div>
  </div>
  <div class="card-body bg-light">
    <div class="tab-content">
      <div class="tab-pane preview-tab-pane active" role="tabpanel">

        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <form method="post">
          {% csrf_token %}

          <div class="mb-3"><label class="form-label" for="name">Password</label>
            <input class="form-control" type="password" name="password1" id="password1" minlength="8" required>
          </div>

          <div class="mb-3"><label class="form-label" for="name">Re-type Password</label>
            <input class="form-control" type="password" name="password2" id="password2" minlength="8" required>
          </div>

          <!-- <button class="btn btn-primary" type="submit">Change</button> -->
          <div class="card-footer">
            <button type="submit" class="btn btn-primary me-3">
                <i class="fa fa-save me-2"></i>
                Change
            </button>

            <a href="/" class="btn btn-secondary">
                <i class="fa fa-times me-2"></i>
                Cancel
            </a>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}