{% extends 'layouts/master.html' %}
{% load static %}
{% block title %}
Address PMS | user create
{% endblock title %}

{% block styles %}
<style>
  
</style>
{% endblock styles %}

{% block content %}


<div class="card mb-3">
    <div class="card-header">
      <div class="row flex-between-end">
        <div class="col-auto align-self-center">
          <h5 class="mb-0" data-anchor="data-anchor">Create User</h5>
        </div>
      </div>
    </div>
    <div class="card-body bg-light">
      <div class="tab-content">
        <div class="tab-pane preview-tab-pane active" role="tabpanel"
          aria-labelledby="tab-dom-68f59ccc-3b08-4ccc-af2d-26fccf62a3ae"
          id="dom-68f59ccc-3b08-4ccc-af2d-26fccf62a3ae">
          <form class="row g-3" method="post" enctype="multipart/form-data">
            <!-- Display form-level errors if they exist -->
            {% if form.non_field_errors %}
                <ul class="errorlist">
                    {% for error in form.non_field_errors %}
                        <li class="error-message" >{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% csrf_token %}


            <div class="col-lg-6 mb-3">
              <label class="form-label" for="name">Name</label>
                {{form.name}}
            </div>
        
            <div class="col-lg-6 mb-3">
              <label class="form-label" for="email">Email</label>
              {{ form.email }}
              {% for error in form.email.errors %}
                <div class="invalid-feedback">
                  {{ error }}
                </div>
              {% endfor %}
            </div>
            
        
            <div class="col-lg-6 mb-3">
              <label class="form-label" for="phone">Phone Number</label>
                {{form.phone}}
                {% for error in form.phone.errors %}
                  <div class="invalid-feedback">
                    {{ error }}
                  </div>
                {% endfor %}
            </div>

            <div class="col-lg-6 mb-3">
              <label class="form-label" for="user_type">User Type</label>
                {{form.user_type}}
            </div>

            <div class="col-lg-6 mb-3">
              <label class="form-label" for="user_type">Gender</label>
                {{form.gender}}
            </div>

            <div class="col-lg-6 mb-3">
              <label class="form-label" for="user_type">Birth Date</label>
                {{form.dob}}
            </div>

            

            <div class="col-lg-6 mb-3">
              <label class="form-label d-block" for="user_img">Profile Image</label>
              <div class="user_img_show">
                <label for="user_img">
                  <img src="{% static 'assets/img/upload-image2.2.png' %}" alt="" id="show_select_image_profile">
                </label>
                <span class="remove-image" id="remove_profile_image" style="display: none;" onclick="removeImage(this)">&times;</span>
              </div>
              {{form.user_img}}
            </div>
            
            <div class="col-lg-6 mb-3">
              <label class="form-label d-block" for="user_cov_img">Profile Cover Image</label>
              <div class="user_img_show">
                <label for="user_cov_img">
                  <img src="{% static 'assets/img/upload-image2.2.png' %}" alt="" id="show_select_image_cover">
                </label>
                <span class="remove-image" id="remove_cover_image" style="display: none;" onclick="removeImage(this)">&times;</span>
              </div>
              {{form.user_cov_img}}
            </div>
            
            <div class="col-lg-6 mb-3">
              <label class="form-label" for="is_verified">Is Verified</label>
                {{form.is_verified}}
            </div>

            <div class="col-lg-6 mb-3">
              <label class="form-label" for="is_verified">Is Active</label>
                {{form.is_active}}
            </div>

            <div class="border-dashed-bottom my-3"></div>
              <h5>Address</h5>
              
              <div class="col-lg-6 mb-3">
                <label class="form-label" for="nationality">Division</label>
                {{form.division}}
              </div>
              <div class="col-lg-6 mb-3">
                <label class="form-label" for="nationality">Sub Division</label>
                {{form.sub_division}}
              </div>
              <div class="col-lg-6 mb-3">
                <label class="form-label" for="nationality">Zip-Code</label>
                {{form.zip_code}}
              </div>
              <div class="col-lg-6 mb-3">
                <label class="form-label" for="nationality">Street Address</label>
                {{form.home}}
              </div>
        
              
              
              <div class="border-dashed-bottom my-3"></div>
              <h5>Privacy</h5>
              <div class="col-lg-6 mb-3">
                <label class="form-label" for="password1">Password</label>
                  {{form.password}}
              </div>
              
              <div class="col-lg-6 mb-3">
                <label class="form-label" for="password2">Confirm Password</label>
                {{form.password2}}
                {% for error in form.password2.errors %}
                <div class="invalid-feedback">
                  {{ error }}
                </div>
                {% endfor %}
              </div>
              
            <div class="col-12 d-flex justify-content-start">
              <button class="btn btn-primary" type="submit">
                <i class="fa fa-save me-2"></i>
                Submit 
              </button>
              <a class="btn btn-secondary ms-3" href="{% url 'users:user-list' %}" >
                <i class="fa fa-times me-2"></i>
                Cancel
              </a>
            </div>
        
        </form>
        
        </div>
      </div>
    </div>
  </div>
  
  <!-- <input type="file" style="border-style: dotted;"> -->
{% endblock content %}


{% block js %}
<script>
  var fieldErrors = {{ field_errors|safe }};
  
  $(document).ready(function() {

    if (fieldErrors.email.length > 0) {
      $('#email').addClass('is-invalid');
    }

    if (fieldErrors.phone.length > 0) {
      $('#phone').addClass('is-invalid');
    }

    if (fieldErrors.user_img.length > 0) {
      $('#user_img').addClass('is-invalid');
    }

    if (fieldErrors.user_cov_img.length > 0) {
      $('#user_cov_img').addClass('is-invalid');
    }

    if (fieldErrors.password2.length > 0) {
      $('#password').addClass('is-invalid');
      $('#password2').addClass('is-invalid');
    }

  });
</script>

<script>

  // Setup handling for profile image
setupImageHandling('user_img', 'show_select_image_profile', 'remove_profile_image', '{% static "assets/img/upload-image2.2.png" %}');

  // Setup handling for cover image
setupImageHandling('user_cov_img', 'show_select_image_cover', 'remove_cover_image', '{% static "assets/img/upload-image2.2.png" %}');
</script>

{% endblock js %}