{% extends 'layouts/master.html' %}
{% load static %}

{% block title %}
LakeForest | Create Event
{% endblock title %}



{% block content %}
<div class="card mb-3">
    <div class="card-header">
        <div class="row flex-between-end">
            <div class="col-auto align-self-center">
                <h5 class="mb-0" data-anchor="data-anchor">Create Event</h5>
            </div>
        </div>
    </div>
    <div class="card-body bg-light">
        <div class="tab-content">
            
            <form class="row g-3 needs-validation" novalidate="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-md-8">
                    <label class="form-label" for="validationCustom01">Title</label>
                    {{ form.title }}
                </div>

                <div class="col-md-6">
                    <label class="form-label" for="validationCustom01">Banner Image</label>
                    {{ form.banner_image }}
                </div>

                <div class="col-md-6">
                    <label class="form-label" for="validationCustom01">Screen Image</label>
                    {{ form.screen_image }}
                </div>

                <div class="col-md-6">
                    <label class="form-label" for="validationCustom01">Analysis Rubric</label>
                    {{ form.analysis_rubric }}
                </div>

                <!--  -->
                <div class="border-dashed-bottom my-2"></div>
                <!--  -->

                <div class="col-md-6">
                    <label class="form-label" for="validationCustom01">Registration Last Date</label>
                    {{ form.register_team_date }}
                </div>

                <div class="col-md-6">
                    <label class="form-label" for="validationCustom01">Topic Selection Last Date</label>
                    {{ form.select_topic_date }}
                </div>

                <div class="col-md-6">
                    <label class="form-label" for="validationCustom01">Final Submition Date</label>
                    {{ form.final_date }}
                </div>

                <div class="col-md-6">
                    <label class="form-label" for="validationCustom01">Faculty Mentor Date</label>
                    {{ form.faculty_mentor_date }}
                </div>

                <div class="col-md-6">
                    <label class="form-label" for="validationCustom01">Whitepaper Submitin Date</label>
                    {{ form.submit_whitepaper_date }}
                </div>
                
                <!--  -->
                <div class="border-dashed-bottom my-2"></div>
                <!--  -->
             
                <div class="col-md-8">
                    <label class="form-label" for="validationCustom01">Event Info</label>
                    {{ form.event_info }}
                </div>

                <div class="col-md-8">
                    <label class="form-label" for="validationCustom01">Judging Criteria</label>
                    {{ form.judging_criteria }}
                </div>

                <div class="col-md-8">
                    <label class="form-label" for="validationCustom01">Eligibility</label>
                    {{ form.eligibility }}
                </div>

                <!--  -->
                <div class="border-dashed-bottom my-2"></div>
                <!--  -->

                <div class="col-md-8">
                    <label class="form-label" for="validationCustom01"><h4>Entries</h4></label>
                    {{ form.entries_header }}
                </div>

                <div class="col-md-8">
                    <label class="form-label" for="validationCustom01">Paper Guidelines</label>
                    {{ form.paper_guidelines }}
                </div>

                <div class="col-md-8">
                    <label class="form-label" for="validationCustom01">Presentation</label>
                    {{ form.presentation }}
                </div>
                
                <!--  -->
                <!-- <div class="border-dashed-bottom my-2"></div> -->
                <!--  -->

                <div class="col-12">
                    <button type="submit" class="btn btn-primary me-3">
                        <i class="fa fa-save me-2"></i>
                        Create
                    </button>

                    <a href="{% url 'events:events-list' %}" class="btn btn-secondary">
                        <i class="fa fa-times me-2"></i>
                        Cancel
                    </a>
                </div>

            </form>

        </div>
    </div>
</div>


{% endblock content %}