{% extends 'layouts/master.html' %}


{% block title %}
LakeForest | Events List
{% endblock title %}




{% block styles %}
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<style>
    .action li {
        display: inline;
    }

    .action li a {
        color: #fff;
        display: inline-block;
        font-size: 14px;
        margin-right: 5px;
        line-height: 1.5;
        border-radius: 3px;
        transition: all 0.3s ease;
    }

    /* table {
        text-align: center;
    } */
    table th {
        font-size: 15px;
    }
</style>
{% endblock styles %}




{% block content %}
<div class="card mb-3">
    <div class="card-header">
        <div class="row flex-between-center">
            <div class="col-4 col-sm-auto d-flex align-items-center pe-0">
                <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">Events List</h5>
            </div>
            <div class="col-8 col-sm-auto ms-auto text-end ps-0">
                <div id="orders-actions">
                    <a href="{% url 'events:events-create' %}" class="btn btn-konnect-default btn-sm"
                        type="button"><span class="fas fa-plus" data-fa-transform="shrink-3 down-2"></span><span
                            class="d-none d-sm-inline-block ms-1">New</span>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="card-body p-4">

        <div class="table-responsive">

            <form class="d-flex col-sm-6 col-md-4 col-lg-3 mb-3" method="get">
                <div class="input-group">
                    <input class="form-control" type="search" name="search" placeholder="Search..." aria-label="Search"
                        value="{{ request.GET.search }}">
                    <button class="btn btn-outline-secondary" type="submit"><i class="fas fa-search"></i></button>
                </div>
            </form>

            <table width="100%" class="table table-sm table-striped fs--1 mb-0">
                <tr>
                    <th>No</th>
                    <th>Title</th>
                    <th>Registrations</th>
                    <th>Topic Selection</th>
                    <th>Faculty Mentor</th>
                    <th>Paper Submition</th>
                    <th>Final Date</th>
                    <th width="200">Actions</th>
                </tr>

                {% for event in page_obj %}
                <tr>
                    <td class="text-dark fw-bold">{{ page_obj.start_index|add:forloop.counter0 }}</td>
                    <td>
                        <p>{{ event.title }}</p>
                        <!-- <p>{{ property.user }}</p>
                        <p>{{ property.user.phone }}</p> -->
                    </td>
                    <td>
                        <span class="badge bg-warning">{{ event.register_team_date|date:"d/M/Y" }}</span>
                    </td>
                    <td>{{ event.select_topic_date|date:"d/M/Y" }}</td>
                    <td>{{ event.faculty_mentor_date|date:"d/M/Y" }}</td>
                    <td>{{ event.submit_whitepaper_date|date:"d/M/Y" }}</td>
                    <td><span class="badge bg-danger">{{ event.final_date|date:"d/M/Y" }}</span></td>

                    <td>
                        <ul class="action d-flex">
                            <li>
                                <a class="text-primary" href="{% url 'events:events-details' event.id %}">
                                    <span class="fas fa-eye text-400" data-fa-transform="grow-2"></span>
                                </a>
                            </li>
                            <li>
                                <a class="ms-2 text-primary" href="{% url 'events:event-update' event.id %}">
                                    <span class="fas fa-edit text-400" data-fa-transform="grow-2"></span>
                                </a>
                            </li>

                            <li>
                                <a class="ms-2 text-danger event-delete-button" data-id="{{ event.id }}">
                                    <span class="fas fa-trash text-400" data-fa-transform="grow-2"></span>
                                </a>
                            </li>

                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="card-footer">
        <div class="row justify-content-between">
            <div class="col-md-6">
                <p>Showing {{ page_obj.start_index }} to {{ page_obj.end_index }} out of {{ products_count }}</p>
            </div>
            <div class="col-md-2">

            </div>
        </div>
    </div>


</div>



<nav aria-label="Page navigation example">
    {% if page_obj.has_other_pages %}
    <ul class="pagination justify-content-center">

        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">Previous</span>
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" aria-label="Previous">
                <span aria-hidden="true">Previous</span>
            </a>
        </li>
        {% endif %}



        {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
        <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}



        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">Next</span>
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" aria-label="Next">
                <span aria-hidden="true">Next</span>
            </a>
        </li>
        {% endif %}
    </ul>
    {% endif %}
</nav>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function () {
        $(".event-delete-button").click(function (e) {
            e.preventDefault();
            const eventId = $(this).data("id");
            const deleteUrl = "{% url 'events:event-delete' 0 %}".replace('0', eventId);

            console.log("Deleting event =", eventId, deleteUrl);

            Swal.fire({
                title: "Do you want delete this event?",
                showDenyButton: true,
                showCancelButton: true,
                confirmButtonText: "Yes",
            }).then((result) => {
                if (result.isConfirmed) {
                    // Perform AJAX request to delete the event
                    $.ajax({
                        type: "POST",
                        url: deleteUrl,
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function () {
                            Swal.fire("Event deleted!", "", "success").then(() => {
                                location.reload();
                            });
                        },
                        error: function () {
                            Swal.fire("Error deleting event", "", "error");
                        },
                    });

                } else if (result.isDenied) {
                    Swal.fire("Changes are not saved", "", "info");
                }
            });

        });
    });
</script>


{% endblock content %}