{% extends 'layouts/master.html' %}

{% load static %}

{% block title %}
LakeForest | Event Schedule List
{% endblock title %}




{% block styles %}

<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<style>
    .action li {
        display: inline;
    }

    .action li a {
        color: #fff;
        display: inline-block;
        font-size: 14px;
        margin-right: 5px;
        line-height: 1.5;
        border-radius: 3px;
        transition: all 0.3s ease;
    }

    /* table {
        text-align: center;
    } */
    table th {
        font-size: 15px;
    }
</style>
{% endblock styles %}




{% block content %}
<div class="card mb-3">
    <div class="card-header">
        <div class="row flex-between-center">
            <div class="col-4 col-sm-auto d-flex align-items-center pe-0">
                <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">Event Panels</h5>
            </div>
            <div class="col-8 col-sm-auto ms-auto text-end ps-0">
                <div id="orders-actions">
                    <a class="btn btn-konnect-default btn-sm" type="button" data-bs-toggle="modal"
                        data-bs-target="#error-modal">
                        <span class="fas fa-plus" data-fa-transform="shrink-3 down-2"></span>
                        <span class="d-none d-sm-inline-block ms-1">New</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body p-4">

        <div class="table-responsive">

            <form class="d-flex col-sm-6 col-md-4 col-lg-3 mb-3" method="get">
                <div class="input-group">
                    <input class="form-control" type="search" name="search" placeholder="Search..." aria-label="Search"
                        value="{{ request.GET.search }}">
                    <button class="btn btn-outline-secondary" type="submit"><i class="fas fa-search"></i></button>
                </div>
            </form>

            <table width="100%" class="table table-sm table-striped fs--1 mb-0">
                <tr>
                    <th>No</th>
                    <th>Date</th>
                    <th>Speaker</th>
                    <th>Event</th>
                    <th>Panel</th>
                    <th>Starting</th>
                    <th>Ending</th>
                    <th>Loaction</th>
                    <th width="200">Actions</th>
                </tr>

                {% for schedule in page_obj %}
                <tr>
                    <td class="text-dark fw-bold">{{ page_obj.start_index|add:forloop.counter0 }}</td>
                    <td>{{ schedule.date }}</td>
                    <td></td>
                    <td>{{ schedule.event.title|slice:":40" }}</td>
                    <td>{{ schedule.panel.name|slice:":40" }}</td>

                    <td>{{ schedule.start_time }}</td>
                    <td>{{ schedule.end_time }}</td>

                    <td>{{ schedule.location }}</td>
                    <!-- <td>
                        {% for spk in schedule.speaker.all %}
                        <p><span class="badge bg-light text-dark fs--1">
                                <span class="fas fa-solid fa-user-tie me-1"></span>{{ spk.name }}
                            </span></p>
                        {% endfor %}
                    </td> -->


                    <td>
                        <ul class="action d-flex">
                            <li>
                                <a class="text-primary" href="">
                                    <span class="fas fa-eye text-400" data-fa-transform="grow-2"></span>
                                </a>
                            </li>
                            <li>
                                <a class="ms-2 text-primary" href="">
                                    <span class="fas fa-edit text-400" data-fa-transform="grow-2"></span>
                                </a>
                            </li>

                            <li>
                                <a class="ms-2 text-danger event-delete-button" data-id="{{ schedule.id }}">
                                    <span class="fas fa-trash text-400" data-fa-transform="grow-2"></span>
                                </a>
                            </li>
                            <!-- include 'property/delete.html' -->

                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="card-footer">
        <div class="row justify-content-between">
            <div class="col-md-6">
                <p>Showing {{ page_obj.start_index }} to {{ page_obj.end_index }} out of {{ products_count }}</p>
            </div>
            <div class="col-md-2">

            </div>
        </div>
    </div>

</div>



<nav aria-label="Page navigation example">
    {% if page_obj.has_other_pages %}
    <ul class="pagination justify-content-center">

        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">Previous</span>
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" aria-label="Previous">
                <span aria-hidden="true">Previous</span>
            </a>
        </li>
        {% endif %}



        {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}



        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">Next</span>
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" aria-label="Next">
                <span aria-hidden="true">Next</span>
            </a>
        </li>
        {% endif %}
    </ul>
    {% endif %}
</nav>


<!-- Modal -->
<div class="modal fade" id="error-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 500px">
        <div class="modal-content position-relative">
            <form action="{% url 'events:events-schedule-create' %}" method="POST">
                {% csrf_token %}
                <div class="position-absolute top-0 end-0 mt-2 me-2 z-index-1">
                    <button class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base"
                        data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-0">
                    <div class="rounded-top-lg py-3 ps-4 pe-6 bg-light">
                        <h4 class="mb-1" id="modalExampleDemoLabel">Add a new panel </h4>
                    </div>
                    <div class="p-4 pb-0">
                        <div class="mb-3">
                            <label class="col-form-label" for="organizerSingle">Event*</label>
                            <input type="hidden" name="event" value="{{ event.id }}">
                            <select class="form-select js-choice" id="organizerSingle" size="1" name="event" disabled
                                data-options='{"removeItemButton":true,"placeholder":true}'>
                                <option value="{{event.id}}">{{event.title|slice:":30"}}...</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label class="col-form-label" for="organizerMultiple">Panel</label>
                            <select class="form-select js-choice" id="organizerSingle" size="1" name="panel" data-options='{"removeItemButton":true,"placeholder":true}'>
                                <option value="">Select organizer...</option>
                                {% for panel in panels %}
                                    <option value="{{ panel.id }}">{{ panel.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="mb-3">
                            <label class="col-form-label" for="organizerMultiple">Speakers</label>
                            <select class="form-select js-choice" id="organizerSingle" size="1" name="speaker" data-options='{"removeItemButton":true,"placeholder":true}'>
                                <option value="">Select organizer...</option>
                                {% for spk in speakers %}
                                <option value="{{ spk.id }}">   
                                    {% if spk.profile_img %}
                                        <img src="" alt="">
                                    {% else %}
                                        <div class="col-auto">
                                            <div class="avatar avatar-l">
                                            <img class="rounded-circle" src="{% static 'assets/img/profile_image.jpg' %}" alt="" />
                                            </div>
                                        </div>
                                    {% endif %}
                                    {{ spk.name }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="mb-3">
                            <label class="col-form-label" for="date">Date*</label>
                            <input type="date" class="form-control" id="date" name="date" required></input>
                        </div>

                        <div class="mb-3">
                            <label class="col-form-label" for="s_time">Starting*</label>
                            <input type="time" class="form-control" id="s_time" name="s_time" required></input>
                        </div>

                        <div class="mb-3">
                            <label class="col-form-label" for="e_time">Ending*</label>
                            <input type="time" class="form-control" id="e_time" name="e_time" required></input>
                        </div>

                        <div class="mb-3">
                            <label class="col-form-label" for="location">Location</label>
                            <textarea class="form-control" id="location" rows="3" name="location"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="submit">Save </button>
                </div>
            </form>
        </div>
    </div>
</div>



<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function () {
        $(".event-delete-button").click(function (e) {
            e.preventDefault();
            const scheduleId = $(this).data("id");
            const deleteUrl = "{% url 'events:events-schedule-delete' 0 %}".replace('0', scheduleId);

            console.log("Deleting event =", scheduleId, deleteUrl);

            Swal.fire({
                title: "Do you want delete this schedule?",
                showDenyButton: true,
                showCancelButton: true,
                confirmButtonText: "Yes",
            }).then((result) => {
                if (result.isConfirmed) {
                    // Perform AJAX request to delete the event
                    $.ajax({
                        type: "POST",
                        url: deleteUrl,
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function () {
                            Swal.fire("Event deleted!", "", "success").then(() => {
                                location.reload();
                            });
                        },
                        error: function () {
                            Swal.fire("Error deleting event", "", "error");
                        },
                    });

                } else if (result.isDenied) {
                    Swal.fire("Changes are not saved", "", "info");
                }
            });

        });
    });
</script>
{% endblock content %}